@import 'styles';

.mat-flat-button {
    background-color: #E8EBEE;
    padding: 20px;
    text-align: start;
}

div {
    line-height: 24px;
    padding: 0 20px 0 10px;

    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

img {
    width: 80px;
    height: 80px;
}

mat-icon {
    color: $vlaanderen-white;
    background-color: $vlaanderen-blue;
    border-radius: 50%;
}